button {
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 25%;
    cursor: pointer;
}
#App {
    padding-left: 30px;

}
#output-box{
    height: 25px;
    border: 2px;
    border-color: black;
}